.productocontainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    gap: 20px;
}
.productocard:hover {
    transform: scale(1.1);
}
.productocard{
    background-color: rgba(255, 255, 255, 0.918);
    width: 330px;
    height: 360px;
    border: 2px solid rgb(243, 240, 240);
    border-radius: 3px;
    box-shadow: -1px 2px 39px 14px rgba(192, 188, 188, 0.61);
    -webkit-box-shadow: -1px 2px 39px 14px rgba(201, 197, 197, 0.61);
    -moz-box-shadow: -1px 2px 39px 14px rgba(228, 223, 223, 0.61);
    
}

.productocard img{
    width: 180px;
    height: 200px;
    border-radius: 2px;
    padding: 5px;


}
.productocard h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin-top: 20px;

}

.productocard h3{
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
}

.btn-boton{
    text-decoration: none;
    color: white;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background-color: rgb(73, 194, 123);
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.btn-boton:hover{
    background: rgb(30, 109, 47);;
}

@media only screen and (max-width: 400px){
    .productocontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    
    }

    .productocard{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    
    }


}