.contenedor-principal{
    font-family: sans-serif;
    width: 730px;
    height: 540px;
    margin:  auto;
    border-radius: 3px;
    padding: 60px;
    background-color: rgb(243, 240, 240);
    box-shadow: -1px 2px 39px 14px rgba(192, 188, 188, 0.61);
    -webkit-box-shadow: -1px 2px 39px 14px rgba(201, 197, 197, 0.61);
    -moz-box-shadow: -1px 2px 39px 14px rgba(228, 223, 223, 0.61);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    


    
}

.contenedor-formulario{
    width: 610px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.contenedor-principal h5{
    margin-bottom: 50px;
    font-size: 20px;
    
    color: #111111;
}

.contenedor-formulario label{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #586870;
}

.contenedor-formulario textarea{
    padding: 3px, 8px, 3px, 16px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
}

.contenedor-formulario input{
    height: 35px;
    margin-bottom: 20px;
    padding: 3px, 8px, 3px, 16px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
}

.input-text, .text-textarea{
    padding: 10px 10px;
}






/* Boton */
.contenedor-boton{
    margin-top: 20px;
    display: flex;
    justify-content: end;
}
.boton{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: none;
    padding: 8px, 20px, 8px, 20px;
    background: rgb(73, 194, 123);
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.boton:hover{
    background: rgb(235, 235, 235);
    color: #111111;
}

@media only screen and (max-width: 700px){

.contenedor-principal{
    width: 200px;
}
.contenedor-formulario{
    width: 200px;
}

}
